[flake8]
max-line-length = 79
exclude = 
    .git,
    .hg,
    .mypy_cache,
    .tox,
    .venv,
    _build,
    buck-out,
    build,
    dist,
    ExampleTests/generatedTests,
    ExampleTests/pythonTestPrograms,
    docker_runner.log,
    formatting_errors.txt,
    ./venv,
    ./get-pip.py

# Ignoring some common issues that might conflict with Black
ignore =
    # whitespace before ':'
    E203,
    # line break before binary operator
    W503,
    # do not assign a lambda expression, use a def
    E731,
    # line too long (handled by Black)
    E501

per-file-ignores =
    __init__.py:F401

# For imports management
application-import-names = project_name
import-order-style = google