# Node
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
pids
*.pid
*.seed
*.pid.lock

# Gradle
.gradle

# Java
.classpath

# vscode
web-build/

# IDEA / IntelliJ
out/

# Eclipse IDE
.project
bin/

# Python bytecode cache directories
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
.env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Operating system files
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

# Add this line to your .gitignore
get-pip.py